body{
    display: flex;
    justify-content: space-between;
    margin: 0;
    background-color: #F2E0D2;
}

/* write (letter) page */
main{
    margin-right: 125px;
}
a{
    text-decoration: none;
    color: #9e182b;
}
.header{
    margin: 10px;
}
p{
    margin: 0;
}
label[for="message"]{
    font-size: 45px;
    font-family: "Nanum Pen Script", cursive;
    font-weight: 400;
    font-style: normal;
}
.stickers-bar{
    background-color: #9e182b;
    width: 200px;
    height: 100vh;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
}
.letter{
    background-color: #F5CAC3;
    border-radius: 2%;
    width: 700px;
    height: 500px;
    padding: 20px 40px;
}
.send{
    margin: 20px;
    display: flex;
    justify-content: flex-end;
}
label[for="name"]{
    font-family: sans-serif;
}
#message{ 
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    box-shadow: none;
    width: 100%;
    height: 100%;
}
button{
    background-color: #9e182b;
    border-radius: 12%;
    border: none;
    color: white;
    padding: 10px 20px;
}

/* stickers */
img{
    width: 100px;
}