/* flex containers */
body{
    display: flex;
    justify-content: space-between;
    margin: 0;
}

/* write (letter) page */
main{
    margin-right: 100px;
}
.header{
    margin: 25px;
}
label[for="message"]{
    font-size: 30px;
}
.stickers{
    background-color: lightpink;
    width: 250px;
    height: 100vh;
    padding: 0 20px;
}
.letter{
    background-color: lightblue;
    border-radius: 2%;
    width: 700px;
    height: 500px;
    padding: 20px 40px;
}
.send{
    margin: 20px;
    display: flex;
    justify-content: flex-end;
}
#message{ 
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    box-shadow: none;
    width: 100%;
    height: 100%;
}